<!-- Genres view -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title: "Genres"}) %> 
  <body>
    <%- include("../partials/header") %>
    <main>
    <div class="main-container">
      <section class="view-header">
          <h2>Genres</h2>
          <a href="/genres/add">Add Genre</a>
        </section>
      <section class="category-container">
          <div class="category">
            <h3>Future Genre Listing</h3>
            <a href="/genres/edit/1">Edit</a>
              <form action="/genres/delete/1" method="POST">
              <button>Delete</button>
             </form>
          </div>
          <div class="category">
            <h3>Future Genre Listing</h3>
            <a href="/genres/edit/2">Edit</a>
            <form action="/genres/delete/2" method="POST">
              <button>Delete</button>
            </form>
          </div>
          <div class="category">
            <h3>Future Genre Listing</h3>
            <a href="/genres/edit/3">Edit</a>
            <form action="/genres/delete/3" method="POST">
              <button>Delete</button>
            </form>
          </div>
          <div class="category">
            <h3>Future Genre Listing</h3>
            <a href="/genres/edit/4">Edit</a>
            <form action="/genres/delete/4" method="POST">
              <button>Delete</button>
            </form>
          </div>
          <div class="category">
            <h3>Future Genre Listing</h3>
            <a href="/genres/edit/5">Edit</a>
            <form action="/genres/delete/5" method="POST">
              <button>Delete</button>
            </form>
          </div>
    </div>
  </main>
  <%- include("../partials/footer") %>
  </body>
</html>
