<!-- Genres view -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title: "Genres"}) %> 
  <body>
    <%- include("../partials/header") %>
    <main>
    <div class="main-container">
      <section class="view-header">
          <h2>Genres</h2>
          <a href="/genres/add">Add Genre</a>
        </section>
      <section class="category-container">
          <div class="category">
            <h3>Future Genre Listing</h3>
          </div>
          <div class="category">
            <h3>Future Genre Listing</h3>
          </div>
          <div class="category">
            <h3>Future Genre Listing</h3>
          </div>
          <div class="category">
            <h3>Future Genre Listing</h3>
          </div>
          <div class="category">
            <h3>Future Genre Listing</h3>
          </div>
    </div>
  </main>
  <%- include("../partials/footer") %>
  </body>
</html>
