<header>
  <nav>
    <h1>Game Inventory Management</h1>
    <ul>
      <li><a href="/games">Games</a></li>
      <li><a href="/developers">Developers</a></li>
      <li><a href="/genres">Genres</a></li>
    </ul>
  </nav>
</header>
