<header>
  <nav>
    <div class="main-header-container">
      <h1>
        <a href="/">Game Inventory Management</a>
      </h1>
    </div>
    <ul>
      <li><a href="/games">Games</a></li>
      <li><a href="/developers">Developers</a></li>
      <li><a href="/genres">Genres</a></li>
    </ul>
  </nav>
</header>
