<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title: "Developers"}) %>
  <%- include("partials/header") %>
  <body>
    <h2>Developers</h2>
    <main></main>
  </body>
  <%- include("partials/footer") %>
</html>
