<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %> <%- include("partials/header") %>
  <body>
    <h2>All Games</h2>
    <main>
      <div>
        <img alt="" />
      </div>
    </main>
  </body>
  <%- include("partials/footer") %>
</html>
