<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title: "Homepage"}) %> 
  <body>
    <%- include("partials/header") %>
    <main>
      <div class="main-container">
        <div class="homepage-container">
          <section class="homepage-section">
            <h2>Featured</h2>
            <img src="/images/cyberpunk.jpg" alt="Cyberpunk 2077 video game">
          </section>
          <section class="homepage-section">
            <h2>Recently Added</h2>
            <img src="/images/pinstripe.jpg" alt="Pinstripe video game">
          </section>
        </div>
      </div>
    </main> 
    <%- include("partials/footer") %>
  </body>
 
</html>
