/***************************/
/*** Kevin Powell Reset ***/
/*************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/***********************/
/*** Font-Face Kits ***/
/*********************/

@font-face {
  font-family: "BebasNeue";
  src:
    url("./fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("./fonts/BebasNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
}

/**********************/
/*** Global Styles ***/
/********************/
a {
  text-decoration: none;
  color: #e8e9ed;
}

h1 {
  font-family: "BebasNeue";
  font-size: 2rem;
  color: #e8e9ed;
}

h2,
h3 {
  font-family: "Inter";
  color: #e8e9ed;
}

.view-header {
  font-family: "Inter";
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.view-header h2 {
  font-size: 1.25rem;
}

.mock-button-container {
  min-height: 100%;
  min-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mock-button-container a:hover {
  background-color: #c89b3c;
  color: #0b0d12;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.card-container {
  min-width: 100%;
  display: grid;
  justify-content: center;
  align-self: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.card {
  display: flex;
  font-family: "Inter";
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  background-color: #1b2336;
  border: 2px solid #2f3a56;
  color: #e8e9ed;
  padding: 1rem;
  border-radius: 0.2rem;
}

.image-container {
  min-width: 12.25rem;
  min-height: 10.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover {
  background-color: #c89b3c;
  color: #0b0d12;
  border-radius: 0.2rem;
}

.card img {
  max-height: 10rem;
  min-height: 10rem;
  max-width: 12rem;
  min-width: 12rem;
  border-radius: 0.2rem;
}

.edit-and-delete-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
  margin-top: auto;
  gap: 1rem;
}

.edit-and-delete-container a,
.view-button-container a {
  background-color: #c89b3c;
  color: #1b2336;
  min-width: max-content;
}

.edit-and-delete-container a,
.edit-and-delete-container button,
.view-button-container a,
.view-button-container button {
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 5rem;
  height: 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-and-delete-container button,
.view-button-container button {
  background-color: #7a2433;
  color: #f5f5f5;
}

.edit-and-delete-container a:hover,
.view-button-container a:hover {
  background-color: #d8ae52;
}

.edit-and-delete-container button:hover,
.view-button-container button:hover {
  background-color: #963042;
  cursor: pointer;
}

.add-and-edit-form {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 2rem;
  background-color: #1b2336;
  border: 3px solid #2f3a56;
  color: #e8e9ed;
  font-family: "Inter";
}

.add-and-edit-form input {
  padding-left: 2px;
}

.title-container {
  display: flex;
  flex-direction: column;
  color: #e8e9ed;
  gap: 0.2rem;
}

.image-link-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.view-button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

/***********************/
/*** Header/Nav Bar ***/
/*********************/

header {
  padding: 1.5rem;
  min-height: 8rem;
  display: flex;
}

nav {
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-header-container {
  display: flex;
  justify-content: center;
  min-width: 22rem;
}

.main-header-container a {
  min-width: 22rem;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
  font-family: "BebasNeue";
  font-size: 2rem;
}

.main-header-container a:hover {
  background-color: #c89b3c;
  color: #0b0d12;
  border-radius: 0.2rem;
}

nav > ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  font-family: "Inter";
}

nav li {
  min-width: 6rem;
  max-width: 6rem;
  min-height: 1.75rem;
  display: flex;
  justify-content: center;
}

li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 6rem;
  max-width: 6rem;
  min-height: 1.75rem;
}

li a:hover {
  background-color: #c89b3c;
  color: #0b0d12;
  border-radius: 0.2rem;
}

/******************/
/*** Body/Main ***/
/****************/

body {
  background-color: #0b0d12;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  min-height: 75vh;
  gap: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 85%;
  min-width: 85%;
}

.main-container p {
  font-family: "Inter";
  color: #e8e9ed;
}

/*****************/
/*** Homepage ***/
/***************/

.homepage-container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

.homepage-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.homepage-section img {
  border-radius: 0.2rem;
}

/**************/
/*** Games ***/
/************/

/* Game View */

.details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 100%;
  justify-content: start;
}

.developers-container {
  gap: 0.2rem;
}

.developers-container,
.genres-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genres-container {
  gap: 0.3rem;
}

.genres-container p {
  background-color: #2f3a56;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

/* Add Game View */

.selection-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  align-items: center;
  color: #e8e9ed;
}

/* Edit Game View */

/*******************/
/*** Developers ***/
/*****************/

/* Add Developer View */
.add-and-edit-developer {
  max-height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

/* Edit Developer View */

/***************/
/*** Genres ***/
/*************/

/* Genre View */
.genre-card {
  min-height: 15rem;
}

.genre-card .edit-and-delete-container {
  justify-self: center;
}

.card-header-container {
  min-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

.card-header-container:hover {
  background-color: #c89b3c;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* Add Genre View */
.add-and-edit-genre {
  max-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

/***************/
/*** Footer ***/
/*************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
}

/**********************/
/*** Media Queries ***/
/********************/

@media (1024px <= width <= 1200px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (768px <= width <= 1024px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (480px <= width <= 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1rem 0 1rem;
  }

  nav {
    flex-direction: column;
  }

  .add-and-edit-form {
    padding: 1rem;
    margin: 1rem;
  }
}

@media (320px <= width <= 480) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 1rem 0 1rem;
  }

  nav {
    flex-direction: column;
  }

  .add-and-edit-form {
    padding: 1rem;
    margin: 1rem;
  }
}
