<!-- Developers - Add -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <form action="/developers/add" method="POST">
        <div class="dev-title-container">
          <label for="developer">Add Developer</label>
          <input type="text" name="developer" id="developer" required />
        </div>
        <div class="image-container">
          <label for="developer-image">Developer Image Link</label>
          <input type="url" name="developerImgUrl" id="developer-image" />
        </div>
        <button type="text">Submit</button>
      </form>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
