<!-- Developers - Index -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title: "Developers"}) %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="main-container">
        <section class="view-header">
          <h2>Developers</h2>
          <a href="/developers/add">Add Developer</a>
        </section>
        <section class="category-container">
          <div class="category">
            <h3>Future Developer Listing</h3>
            <a href="/developers/edit/1">Edit</a>
          </div>
          <div class="category">
            <h3>Future Developer Listing</h3>
            <a href="/developers/edit/2">Edit</a>
          </div>
          <div class="category">
            <h3>Future Developer Listing</h3>
            <a href="/developers/edit/3">Edit</a>
          </div>
          <div class="category">
            <h3>Future Developer Listing</h3>
            <a href="/developers/edit/4">Edit</a>
          </div>
          <div class="category">
            <h3>Future Developer Listing</h3>
            <a href="/developers/edit/5">Edit</a>
          </div>
        </section>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
