<!-- Game Index -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="main-container">
        <section class="view-header">
          <h2>All Games</h2>
          <a href="/games/add">Add Game</a>
        </section>
        <section class="card-container">
          <div class="card">
            <h3>Future Game</h3>
            <a href="/games/edit/1">Edit</a>
          </div>
          <div class="card">
            <h3>Future Game</h3>
            <a href="/games/edit/2">Edit</a>
          </div>
          <div class="card">
            <h3>Future Game</h3>
            <a href="/games/edit/3">Edit</a>
          </div>
        </section>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
